<div class="row">
  <h2 class="text-center p-4">{{group.name}}</h2>
  <div>
    <p class="alert-danger">
      This action cannot be undone. This will permanently delete the group
      <span class="font-weight-bold">{{group.name}}</span>.
    </p>
    <form [formGroup]="form" (ngSubmit)="delete()">
      <div class="form-group">
        <label for="groupName">Please type in the group name of this group to confirm.</label>
        <input type="text" class="form-control"
               [ngClass]="form.errors && form.get('groupName').value !== '' ? 'is-invalid' : ''"
               id="groupName" name="groupName" placeholder="Group name"
               formControlName="groupName">
        <small *ngIf="form.errors && form.get('groupName').value !== ''"
               class="form-text text-danger">
          The group names do not match.
        </small>
      </div>
      <div class="row pt-4 pb-5 ml-2">
        <div class="flex-column pr-2">
          <button type="submit" class="btn btn-danger"
                  [disabled]="!form.valid || form.get('groupName').value === ''">
            Delete group
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
