<div class="row">
  <div class="col-2">
    <img [attr.src]="avatarUrl(user, 300) | tokenizer | async" class="card-img p-4" alt=" ">
  </div>
  <div class="col">
    <h2 *ngIf="user.displayName" class="text-center">
      {{user.displayName}}
    </h2>
    <h2 *ngIf="!user.displayName" class="text-center">{{user.userName}}</h2>
    <ul class="list-group">
      <li *ngFor="let membership of memberships"
          class="list-group-item d-flex justify-content-between align-items-center">
        {{membership.group.name}}
        <label class="switch">
          <input *ngIf="membership.isMember" (click)="toggleMembership(membership)"
                 type="checkbox" checked />
          <input *ngIf="!membership.isMember" (click)="toggleMembership(membership)"
                 type="checkbox" />
          <span class="slider round"></span>
        </label>
        <!-- <span class="badge badge-primary badge-pill">{{group.isMember}}</span> -->
      </li>
    </ul>
  </div>
</div>
