<div class="row">
  <ul class="nav nav-pills mr-auto">
    <li class="nav-item">
      <a class="nav-link btn btn-outline-primary" routerLink="/add-user">Add user</a>
    </li>
  </ul>
  <form class="form-inline">
    <input #search class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success" type="submit">Search</button>
  </form>
</div>

<table class="table table-responsive-xl mt-4">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col"></th>
    <th scope="col">User name</th>
    <th scope="col">First name</th>
    <th scope="col">Last name</th>
    <th scope="col">Email</th>
    <th scope="col">Enabled</th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let user of users | async; let i = index">
    <td>{{i}}</td>
    <td>
      <img width="24" height="24" [attr.src]="avatarUrl(user, 24) | tokenizer | async" alt=" ">
    </td>
    <td>{{user.userName}}</td>
    <td>{{user.firstName}}</td>
    <td>{{user.lastName}}</td>
    <td>{{user.email}}</td>
    <td>
      <fa-icon [icon]="enabledIcon(user)"></fa-icon>
    </td>
    <td>
      <a routerLink="/users/{{user.userName}}">
        <fa-icon [icon]="userEditIcon"></fa-icon>
      </a>
    </td>
  </tr>
  </tbody>
</table>
