<h2 class="text-center p-4">{{group.name}}</h2>

<div class="list-group">
  <div *ngIf="displayDescription" class="list-group-item">
    <div>
      <small class="text-muted font-italic">
        Description
        <span *ngIf="canEdit && descriptionMode === 'display'" class="pl-2">
          <a href="javascript:void(0)" (click)="displayEditDescription()">
            <fa-icon [icon]="editDescriptionIcon"></fa-icon>
          </a>
      </span>
      </small>
    </div>
    <div *ngIf="descriptionMode === 'display'" class="font-weight-bold">
      {{group.description}}
    </div>
    <div *ngIf="descriptionMode === 'add'">
      <a href="javascript:void(0)" (click)="displayEditDescription()">Add description</a>
    </div>
    <div *ngIf="descriptionMode === 'edit'">
      <!--suppress HtmlFormInputWithoutLabel -->
      <textarea #newDescription [value]="group.description"
                class="form-control rounded-0"
                id="description">
      </textarea>
      <button class="btn btn-primary mt-2" (click)="saveDescription(newDescription.value)">
        Save
      </button>
      <button class="btn btn-secondary mt-2 ml-2" (click)="cancelEditDescription()">
        Cancel
      </button>
    </div>
  </div>
  <div *ngIf="group.created" class="list-group-item">
    <div>
      <small class="text-muted font-italic">Created at</small>
    </div>
    <div class="font-weight-bold">{{group.created}}</div>
  </div>
  <div *ngIf="group.modified" class="list-group-item">
    <div>
      <small class="text-muted font-italic">Last modification at</small>
    </div>
    <div class="font-weight-bold">{{group.modified}}</div>
  </div>
</div>

<h4 class="text-center pt-4">Members</h4>
<ul class="list-group">
  <li *ngFor="let member of members"
      class="list-group-item d-flex justify-content-between align-items-center">
    <span>
      <span class="font-weight-bold">
      {{member.user.userName}}
      </span>
      <span *ngIf="member.user.displayName" class="ml-2 text-muted font-italic">
        ({{member.user.displayName}})
      </span>
    </span>
    <label class="switch">
      <input *ngIf="member.isMember" (click)="toggleMember(member)"
             type="checkbox" checked [disabled]="!canEdit"/>
      <input *ngIf="!member.isMember" (click)="toggleMember(member)"
             type="checkbox" [disabled]="!canEdit"/>
      <span class="slider round"></span>
    </label>
  </li>
</ul>
