<ng-container *ngIf="passwordInformation | async as pwdInfo">
  <div class="row">
    <div class="col-md-4">
      <img [attr.src]="avatarUrl(user, 300) | tokenizer | async" class="card-img p-4" alt=" ">
    </div>
    <div class="col">
      <h2 *ngIf="user.displayName" class="text-center p-4">
        {{user.displayName}}
      </h2>
      <h2 *ngIf="!user.displayName" class="text-center p-4">{{user.userName}}</h2>

      <p>Please be aware of:</p>
      <ul>
        <li>The password should contain at least {{pwdInfo.minimumPasswordLength}} symbols.</li>
        <li *ngIf="isComplexPasswordRequired(pwdInfo)">
          3 types of symbols must be used in the password: numbers (0–9), uppercase letters,
          lowercase letters and special characters ($, #, %, etc.).
        </li>
      </ul>

      <form [formGroup]="buildForm(pwdInfo)" (ngSubmit)="updatePassword()">
        <div *ngIf="!isAdmin" class="form-group">
          <label for="previousValue">Current password</label>
          <input type="password" class="form-control"
                 [ngClass]="passwordDoesNotMatch() ? 'is-invalid' : ''"
                 id="previousValue" name="previousValue"
                 aria-describedby="previousValueHelp" placeholder="Current password"
                 formControlName="previousValue">
          <small id="previousValueHelp" class="form-text text-muted">
            Please enter your current password.
          </small>
          <small *ngIf="passwordDoesNotMatch()" class="form-text text-danger">
            Login failed; wrong password.
          </small>
        </div>
        <div class="form-group">
          <label for="value">
            <span>New password</span>
            <span *ngIf="isAdmin" class="pl-2">
              <a href="javascript:void(0)" (click)="generatePassword()">
                (generate random)
              </a>
            </span>
          </label>
          <input type="password" class="form-control"
                 [ngClass]="form.get('value').errors ? 'is-invalid' : ''"
                 id="value" name="value"
                 aria-describedby="valueHelp" placeholder="New password"
                 formControlName="value">
          <small id="valueHelp" class="form-text text-muted">New password.</small>
          <small *ngIf="form.get('value').errors"
                 class="form-text text-danger">
            The password does not satisfy complexity restrictions.
          </small>
        </div>
        <div class="form-group">
          <label for="repeatedValue">Repeat the new password</label>
          <input type="password" class="form-control"
                 [ngClass]="form.get('repeatedValue').errors ? 'is-invalid' : ''"
                 id="repeatedValue" name="repeatedValue"
                 aria-describedby="repeatedValueHelp" placeholder="Repeat password"
                 formControlName="repeatedValue">
          <small id="repeatedValueHelp" class="form-text text-muted">
            Repeat the new password.
          </small>
          <small *ngIf="form.errors && form.errors.passwordsAreNotEqual"
                 class="form-text text-danger">
            Passwords are not equal.
          </small>
        </div>

        <div *ngIf="isAdmin" class="form-inline">
          <div class="form-check-inline">
            <label class="switch" for="sendEmail">
              <input type="checkbox" id="sendEmail" name="sendEmail" formControlName="sendEmail" />
              <span class="slider round"></span>
            </label>
            <label><span class="ml-2 mr-2">Send email, language:</span></label>
            <select class="form-control" id="lang" name="lang" formControlName="lang" >
              <option value="en" selected>English</option>
              <option value="de">German</option>
            </select>
          </div>
        </div>

        <div class="row pt-4 pb-5 ml-2">
          <div class="flex-column pr-2">
            <button type="submit" class="btn btn-primary"
                    [disabled]="!form.valid || form.get('value').value === ''">
              Change password
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</ng-container>
