<ng-container *ngIf="passwordInformation | async as pwdInfo">
  <div class="row">
    <div class="col-md-4">
      <img [attr.src]="avatarUrl(user, 300) | tokenizer | async" class="card-img p-4" alt=" ">
    </div>
    <div class="col">
      <h2 *ngIf="user.displayName" class="text-center p-4">
        {{user.displayName}}
      </h2>
      <h2 *ngIf="!user.displayName" class="text-center p-4">{{user.userName}}</h2>

      <p>Please be aware of:</p>
      <ul>
        <li>The password should contain at least {{pwdInfo.minimumPasswordLength}} symbols.</li>
        <li *ngIf="isComplexPasswordRequired(pwdInfo)">
          3 types of symbols must be used in the password: numbers (0–9), uppercase letters,
          lowercase letters and special characters ($, #, %, etc.).
        </li>
        <li *ngIf="isComplexPasswordRequired(pwdInfo)">
          The account name cannot be used in a password
          (not more than 2 symbols of a 'user name' or 'first name' in a row).
        </li>
      </ul>

      <form #f="ngForm" (ngSubmit)="updatePassword()">
        <div class="form-group">
          <label for="value">New password</label>
          <input type="text" class="form-control" id="value" name="value"
                 aria-describedby="valueHelp" placeholder="New password"
                 [(ngModel)]="password.value" [pattern]="pattern(pwdInfo)">
          <small id="valueHelp" class="form-text text-muted">Enter a new password.</small>
        </div>

        <div class="row">
          <div class="flex-column">
            <button type="submit" class="btn btn-primary" [disabled]="!f.valid">
              Change password
            </button>
          </div>
          <div class="flex-column">
            <button type="button" class="btn btn-outline-secondary"
                    routerLink="/users/{{user.userName}}" [queryParams]="{view: 'profile'}">
              Cancel
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</ng-container>
