<div class="row">
  <div class="col-md-4">
    <img [attr.src]="avatarUrl(user, 300) | tokenizer | async" class="card-img p-4" alt=" ">
  </div>
  <div class="col">
    <h2 *ngIf="user.displayName" class="text-center p-4">
      {{user.displayName}}
      <span class="pl-2">
        <a routerLink="/users/{{user.userName}}" [queryParams]="{view: 'edit'}">
          <fa-icon [icon]="userEditIcon"></fa-icon>
        </a>
      </span>
    </h2>
    <h2 *ngIf="!user.displayName" class="text-center p-4">
      {{user.userName}}
      <span class="pl-2">
        <a routerLink="/users/{{user.userName}}" [queryParams]="{view: 'edit'}">
          <fa-icon [icon]="userEditIcon"></fa-icon>
        </a>
      </span>
    </h2>

    <div class="list-group">
      <div *ngIf="user.displayName" class="list-group-item">
        <div>
          <small class="text-muted font-italic">User name</small>
        </div>
        <div class="font-weight-bold">{{user.userName}}</div>
      </div>
      <div *ngIf="user.description" class="list-group-item">
        <div>
          <small class="text-muted font-italic">Description</small>
        </div>
        <div class="font-weight-bold">{{user.description}}</div>
      </div>
      <div class="list-group-item d-flex justify-content-between align-items-center">
        <div class="text-muted font-italic">Enabled</div>
        <label class="switch">
          <input *ngIf="user.enabled" type="checkbox" checked disabled/>
          <input *ngIf="!user.enabled" type="checkbox" disabled/>
          <span class="slider round"></span>
        </label>
      </div>
      <div *ngIf="user.email" class="list-group-item">
        <div>
          <small class="text-muted font-italic">Email</small>
        </div>
        <div class="font-weight-bold">{{user.email}}</div>
      </div>
      <div *ngIf="user.mobile" class="list-group-item">
        <div>
          <small class="text-muted font-italic">Mobile phone number</small>
        </div>
        <div class="font-weight-bold">{{user.mobile}}</div>
      </div>
      <div *ngIf="user.telephoneNumber" class="list-group-item">
        <div>
          <small class="text-muted font-italic">Telephone number</small>
        </div>
        <div class="font-weight-bold">{{user.telephoneNumber}}</div>
      </div>
      <div *ngIf="user.loginShell" class="list-group-item">
        <div>
          <small class="text-muted font-italic">Login shell</small>
        </div>
        <div class="font-weight-bold">{{user.loginShell}}</div>
      </div>
      <div *ngIf="user.unixHomeDirectory" class="list-group-item">
        <div>
          <small class="text-muted font-italic">Unix home directory</small>
        </div>
        <div class="font-weight-bold">{{user.unixHomeDirectory}}</div>
      </div>
      <div *ngIf="user.homeDirectory" class="list-group-item">
        <div>
          <small class="text-muted font-italic">Windows home directory</small>
        </div>
        <div class="font-weight-bold">{{user.homeDirectory}}</div>
      </div>
      <div *ngIf="user.created" class="list-group-item">
        <div>
          <small class="text-muted font-italic">Created at</small>
        </div>
        <div class="font-weight-bold">{{user.created}}</div>
      </div>
      <div *ngIf="user.modified" class="list-group-item">
        <div>
          <small class="text-muted font-italic">Last modification at</small>
        </div>
        <div class="font-weight-bold">{{user.modified}}</div>
      </div>
      <div *ngIf="user.lastLogon" class="list-group-item">
        <div>
          <small class="text-muted font-italic">Last logon at</small>
        </div>
        <div class="font-weight-bold">{{user.lastLogon}}</div>
      </div>
      <div *ngIf="user.logonCount" class="list-group-item">
        <div>
          <small class="text-muted font-italic">Logon times</small>
        </div>
        <div class="font-weight-bold">{{user.logonCount}}</div>
      </div>
      <div *ngIf="user.passwordLastSet" class="list-group-item">
        <div>
          <small class="text-muted font-italic">Last password change at</small>
        </div>
        <div class="font-weight-bold">{{user.passwordLastSet}}</div>
      </div>
    </div>
  </div>
</div>
